<!--
 * @Author: your name
 * @Date: 2021-06-14 10:30:52
 * @LastEditTime: 2021-06-14 13:12:54
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \day2\02\父访子.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <cnp></cnp>
        <cnp>
            <!--目的是获取子组件中的pLanguages-->
            <template slot-scope="slot">
              <!--<span v-for="item in slot.data"> - {{item}}</span>-->
              <span>{{slot.data.join('-')}}</span>
            </template>
          </cnp>
          <cnp>
            <!--目的是获取子组件中的pLanguages-->
            <template slot-scope="slot">
              <!--<span v-for="item in slot.data">{{item}} * </span>-->
              <span>{{slot.data.join(' * ')}}</span>
            </template>
          </cnp>
    </div>
    <template id="cnp">
    <div>
        <slot :data="object">
           <ul>
            <li v-for="item in object">{{item}}</li>
           </ul>
        </slot>
    </div>
    </template>
    <script src="../js/vue.js"></script>
    <script>
        const app=new Vue({
            el:'#app',
            data:{
                message:'我是爷爷组件',
            },
            components: {
              cnp:{
                  template:'#cnp',
                  data(){
                    return{
                    object:['JavaScript','C++','Java','C','Python','Go','Swift']
                    }
                }
            }
        }
        })
    </script>
</body>
</html>