*{
    padding: 0;
    margin: 0;
}
table{
    border: 1px solid rgb(130, 130, 133);
    background-color: olive;
    border-spacing: 0;
    border-collapse: collapse;
}
th,td{
    box-sizing: border-box;
    padding: 10px 12px;
}
th{
    background-color: bisque;
    color: rgb(36, 37, 34);
    font-weight: 700;
}
button{
    width: 40px;
    height: 30px;
}